# Core AI & Deep Learning
torch
torchvision

# Computer Vision (Cloud-friendly version)
opencv-python-headless

# UI & Visualization
streamlit
Pillow
numpy
plotly
pandas
streamlit-option-menu
matplotlib
yt-dlp
